{{ define "main" }}
{{ partial "sidebar.html" . }}
<div class="col-xs-12 col-sm-8 col-md-9 content-column white-background col-main-fixedpos">
  {{ partial "mobileNavToggle.html" . }}
  <div class="row">
    <div class="col-lg-8">
      <div class="content-column-content" id="blog-listing-medium">
         <h1>{{ .Title }}</h1>

         {{if eq .Title "Jclub"}}
         <p class="author-category"> Reading series from the joint biostatistics journal club between the <a href="http://ceb-institute.org/ceb">CEB (Clinical epidemiology and biostatistics</a> and <a href="https://www.swisstph.ch/en/">Swiss TPH (Tropical and public health)</a> institutes. </p>
         {{end}}

         {{if eq .Title "Jblog"}}
         <p class="author-category"> Collections of scribbles by an accidental statistician </p>
         {{end}}
         
        {{if eq .Title "Projects"}}
         <p class="author-category"> This is an attempt at projects </p>
         {{end}}             

        {{if eq .Title "Work"}}
         <p class="author-category"> These are some of the projects that I've contributed to since I started working at <a href="www.pudding.cool">The Pudding</a>. Links to the work, my contributions, and screenshots are all included. </p>
         {{end}}


          {{ $paginator := .Paginate (where .Data.Pages "Type" "post") }}
          {{ range $paginator.Pages.ByDate.Reverse }}
          <section class="post">
              <div class="row">
                  <div class="col-md-4">
                    <div class="image">
                        <a href="{{ .Permalink }}">
                            {{ if .Params.image }}
                            <img src="{{ .Site.BaseURL}}{{ .Params.image }}" class="img-responsive" alt="">
                            {{ else }}
                            <img src="{{ .Site.BaseURL}}img/placeholder.png" class="img-responsive" alt="">
                            {{ end }}
                        </a>
                    </div>
                  </div>
                  <div class="col-md-8">
                      <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
                      <div class="clearfix">
                          <p class="author-category">
                            {{ if isset .Params "author" }}
                            By {{ .Params.author }}
                            {{ end }}
                            {{ if isset .Params "categories" }}
                            {{ if gt (len .Params.categories) 0 }}
                            in <a href="{{ $.Site.BaseURL }}categories/{{ index .Params.categories 0 | urlize | lower }}">{{ index .Params.categories 0 }}</a>
                            {{ end }}
                            {{ end }}

                          </p>
                          <p class="date-comments">
                              <a href="{{ .Permalink }}"><i class="fa fa-calendar-o"></i> {{ .Date.Format "January 2, 2006" }}</a>
                          </p>
                      </div>
                      <p class="intro">
                       {{ if .Description }}
                          {{ .Description }}
                       {{ else }}
                          {{ .Summary | plainify | safeHTML }}
                      {{ end }}</p>
    

                      <p class="read-more"><a id="amber-btn" href="{{ .Permalink }}" class="btn btn-template-main">Continue reading</a>
                      </p>
                  </div>
              </div>
          </section>
          {{ end }}

          <ul class="pager">
              {{ if .Paginator.HasPrev }}
              <li class="previous"><a href="{{ .Site.BaseURL }}{{ .Paginator.Prev.URL }}">&larr; Newer</a></li>
              {{ else }}
              <li class="previous disabled"><a href="#">&larr; Newer</a></li>
              {{ end }}

              {{ if .Paginator.HasNext }}
              <li class="next"><a href="{{ .Site.BaseURL }}{{ .Paginator.Next.URL }}">Older &rarr;</a></li>
              {{ else }}
              <li class="next disabled"><a href="#">Older &rarr;</a></li>
              {{ end }}
          </ul>


      </div>
    </div>
  </div>
</div>
{{ end }}
